#root {
  margin: 0 auto;
  text-align: center;
}

.box {
  justify-content: center;
  align-content: center;
  background: #C8F9A3;
  max-width: 100%;
  max-height: 100%;
  width: 90vw;
  height: 90vh;
  border-radius: 15px;
}

.start {
  background: #F2A694;
  color: #872222;
  margin-top: 2vh;
  top: 50%;
  left: 50%;
  font-size: 4vh;
  text-align: center;
}

.logo {
  height: 75%;
  color: green;
  top: 50%;
  left: 50%;
}